.nav-link {
    color: #fff;
    font-size: 4vh;
    font-weight: bold;
    padding: 0.5rem 0;
    position: absolute;
    transition: color 0.3s ease-in-out;
    top: 15px;
    left: 0;
    width: 100vw;
    background-color: darkblue;
}

.nav-link a {
    color: #fff;
    text-decoration: none;
    margin: 20px;
    padding: 2vh;
    border-radius: 10px;
}